# Teste na primeira aula para visualizar o problema

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('data/imdb-reviews-pt-br.csv')

In [10]:
data.head()

,id,text_en,text_pt,sentiment
0,1,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg
1,2,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg
2,3,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg
3,4,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg
4,5,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg

In [11]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(data.text_pt, data.sentiment, random_state=40)

In [39]:
from sklearn.linear_model import LogisticRegression

# regressao = LogisticRegression()
# regressao.fit(treino_x, treino_y)
# acuracia = regressao.score(teste_x, teste_y)

# print(acuracia)

print("Se quiser fazer o teste desses comandos é só tirar os comentários, mas onde ele vai retornar o erro abaixo:")
print("""
      could not convert string to float: 'O segundo episódio oficial da série 
      "Columbo" "Murder by the Book", filmado mais tarde, atingiu primeiro as ondas. 
      Robert Culp, que combinaria com o detetive Peter Falks em várias parcelas futuras, 
      é fantástico como o cabeça-dura de uma sofisticada agência de detetives que mata uma 
      cliente quando ela se recusa a aceitar seus esquemas de chantagem. As duas estrelas são bem 
      combinadas neste exercício inteligente de gato e rato que é um dos melhores da série.'
      """)

Se quiser fazer o teste desses comandos é só tirar os comentários, mas onde ele vai retornar o erro abaixo:

      could not convert string to float: 'O segundo episódio oficial da série
      "Columbo" "Murder by the Book", filmado mais tarde, atingiu primeiro as ondas.
      Robert Culp, que combinaria com o detetive Peter Falks em várias parcelas futuras,
      é fantástico como o cabeça-dura de uma sofisticada agência de detetives que mata uma
      cliente quando ela se recusa a aceitar seus esquemas de chantagem. As duas estrelas são bem
      combinadas neste exercício inteligente de gato e rato que é um dos melhores da série.'

In [ ]:
# Visualizamos o problema para que tenhamos que tratar as strings para que o modelo consiga trabalhar

# primeiro então vamos preparar a nossa classificação das features

In [13]:
# anaisando primeiro um elemento

print("Analise negativa")
data.text_pt[456]

Analise negativa

'Uma família Um adolescente, sua mãe e um padrasto, cansado da vida na cidade, decide se mudar para as montanhas para se afastar de tudo e ter um novo começo. No entanto, seu idílio é quebrado por três irmãos e seu pai dominador, que não aceitam gentilmente os recém-chegados em seu caminho. Embora ter objetos jogados pela janela e ser ameaçado na rua seja apenas o começo, o jovem decide piorar as coisas tendo um relacionamento com a terrível irmã trio. Com a lei pouco disposta a fazer nada a respeito e a violência aumentando rapidamente, o rapaz decide resolver o problema com suas próprias mãos. Vingando descontroladamente entre hilaridade e maldade, esse é um dos filmes de exploração mais estranhos já feitos. No começo, você pode rir com a atuação indelicada e o diálogo ridículo dado aos personagens, especialmente os bandidos exaustos. Mas então, você tem cenas completamente desnecessárias como uma mãe sendo estuprada enquanto seu filho é forçado a assistir, ou a irmã dos bandidos sendo espancada por seus irmãos por se atrever a dormir com nosso jovem herói. Na verdade, toda a visão das mulheres no filme, que parece ser que são criaturas patéticas que gritam muito e não podem se defender, é bastante desprezível. Mas é claro, há a obrigatória cena de nudez, que dessa vez envolve uma jovem mergulhando em uma piscina sem sutiã sob uma camiseta muito fina. Quem se preocupa com a consistência do enredo quando você tem algumas jovens estrelas dispostas a lançar suas roupas. O clímax gira em torno do adolescente, que até agora não foi capaz de espirrar sem pular, de repente se transformando em um clone Rambo e mandando seus assaltantes para a esquerda, direita e centro para salvar seu padrasto que está sendo mantido como refém pela gangue. . É completamente implausível, mas ei, então é tudo o mais neste filme .. então pelo menos você não pode acusá-lo de não ser consistente. Então, ao invés de tentar encontrar a lógica em um lugar onde a palavra não existe, confira as páginas da IMDb para Janet Laine Green, Dehl Berti, Stephen Hunter, Jonathan Crombie, etc. Observe um padrão emergindo aqui? Todas as suas carreiras atingiram becos sem saída. Por quê? Sente-se através disso e tudo ficará claro. Lembre-se de crianças, se você quiser progredir neste negócio, contrate um agente decente e SEMPRE leia os roteiros que eles lhe oferecem. Por favor .. 3/10'

In [14]:
# quantas avaliações negativas e postivas termos
data.sentiment.value_counts()

neg    24765
pos    24694
Name: sentiment, dtype: int64

In [15]:
# podemos perceber que os dados estão bem balanceados para um bom treino, agora vamos organizar as classificações entre 0 e 1
# usando um dict no replace

data['classificacao'] = data.sentiment.replace({'neg': 0, 'pos': 1})

In [16]:
data

,id,text_en,text_pt,sentiment,classificacao
0,1,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg,0
1,2,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg,0
2,3,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg,0
3,4,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg,0
4,5,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg,0
...,...,...,...,...,...
49454,49456,"Seeing as the vote average was pretty low, and...","Como a média de votos era muito baixa, e o fat...",pos,1
49455,49457,"The plot had some wretched, unbelievable twist...",O enredo teve algumas reviravoltas infelizes e...,pos,1
49456,49458,I am amazed at how this movieand most others h...,Estou espantado com a forma como este filme e ...,pos,1
49457,49459,A Christmas Together actually came before my t...,A Christmas Together realmente veio antes do m...,pos,1
49458,49460,Working-class romantic drama from director Mar...,O drama romântico da classe trabalhadora do di...,pos,1

In [17]:
# usar a função DataFrame.sparse.from_spmatrix

In [18]:
# criando o nosso bag_of_words

from sklearn.feature_extraction.text import CountVectorizer

texto = ["Assisti um filme ótimo", "Assisti um filme ruim"]

vetorizar = CountVectorizer()

bag_of_words = vetorizar.fit_transform(texto)

In [19]:
bag_of_words

<2x5 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [20]:
vetorizar.get_feature_names()

['assisti', 'filme', 'ruim', 'um', 'ótimo']

In [22]:
# criando um dataframe com o bag_of_words

matriz_esparsa = pd.DataFrame.sparse.from_spmatrix(bag_of_words, columns = vetorizar.get_feature_names())

In [23]:
matriz_esparsa

   assisti  filme  ruim  um  ótimo
0        1      1     0   1      1
1        1      1     1   1      0

In [35]:
# agora vamos vetorizar a nossa data

vetorizar = CountVectorizer(lowercase=False, max_features=50)
bag_of_words = vetorizar.fit_transform(data.text_pt)
print(bag_of_words.shape)

(49459, 50)

In [40]:
treino_x, teste_x, treino_y, teste_y = train_test_split(bag_of_words, data.classificacao, random_state=42)

regressao = LogisticRegression()
regressao.fit(treino_x, treino_y)
acuracia = regressao.score(teste_x, teste_y)

print(acuracia)

0.6583097452486858

In [41]:
# Criando uma função para o modelo

def classificar_texto(texto, coluna_texto, coluna_classificacao):
    """texto: dataset
    coluna_texto: coluna com os valores para vetorizar
    coluna_classificacao: coluna com os valores de classificação
    """
    vetorizar = CountVectorizer(lowercase=False, max_features=50)
    bag_of_words = vetorizar.fit_transform(texto[coluna_texto])
    treino_x, teste_x, treino_y, teste_y = train_test_split(bag_of_words,
                                                              texto[coluna_classificacao],
                                                              random_state = 42)
    regressao_logistica = LogisticRegression(solver = "lbfgs")
    regressao_logistica.fit(treino_x, treino_y)
    return regressao_logistica.score(teste_x, teste_y)

print(classificar_texto(data, "text_pt", "classificacao"))

0.6583097452486858